#################################################
# ================= BUILD ======================
#################################################

target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

*.jar
*.war
*.ear

#################################################
# ================= LOGS =======================
#################################################

*.log
logs/

#################################################
# ============ ENVIRONMENT / SECRETS ===========
#################################################

.env
.env.*
application-local.properties
application-local.yml
application-dev.properties
application-dev.yml

# Security Keys
src/main/resources/keys/

#################################################
# ================= MAVEN ======================
#################################################

.mvn/wrapper/maven-wrapper.jar

#################################################
# ================= IDEs =======================
#################################################

# IntelliJ
.idea/
*.iws
*.iml
*.ipr
out/

# Spring Tool Suite (STS)
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

#################################################
# ================= OS FILES ===================
#################################################

.DS_Store
Thumbs.db

#################################################
# ============== TEST REPORTS ==================
#################################################

surefire-reports/

#################################################
# ============== OPTIONAL DOCS =================
#################################################

HELP.md